@using E_ticaretMVC.Entity;
@model IEnumerable<Product>
@{
    ViewBag.Title = "List";
}


<div class="container pb-5">
    <br>
    <div class="row">

        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">An active item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">

                @foreach (var urun in Model)
                {
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="~/tema/image/indir.jpg" alt="@urun.Name">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/Home/Details/@urun.Id"> @urun.Name</a>
                                </h5>
                                <p class="card-text">@urun.Description</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">@urun.Price</small>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </div>
</div>

